<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
    <div th:text="${message}">大家好</div>
    <table border="1" cellspacing="1" cellpadding="1">
        <thead>
        <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>密码</th>
            <th>出生日期</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${userList}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUserName()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${#dates.format(user.getBirthday(),'yy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>